.content-grid {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	/*height: 800px;*/
	/*position: relative;*/
}

.content-grid .grid-item {
	height: 400px;
	width: 49.5%;
	min-width: 300px;

	/*float: left;*/
	display: inline-block;
	position: relative;
}

.content-grid .grid-item .inner-page-content {
	margin: 15px;
	width: calc(100% - 30px);
	height: calc(100% - 30px);
}

.content-grid .grid-item h3 {
	margin: 0;
	margin-left: 5px;
}

.content-grid .grid-item .divider-line {
	height: 2px;
	width: 100%;
	margin: 5px 0;
	background-color: #8d8d8d;
}

.content-grid .grid-item .content-display {
	font-family: courier; 
	font-weight: bold;
	height: calc(100% - 41px); 
	margin: 0 5px;
	overflow-y: auto;
}

.content-grid .grid-item.news {

}

.content-grid .grid-item.uploads {

}

.content-grid .grid-item.server {

}

.content-grid .grid-item.mail {

}

@media only screen and (max-width: 719px) {
	.content-grid {
		height: 1288px;
	}

	.content-grid .grid-item.news {
		top: 0;
		left: 0;
	}

	.content-grid .grid-item.uploads {
		top: 322px;
		left: 0;
	}

	.content-grid .grid-item.server {
		top: 644px;
		left: 0;
	}

	.content-grid .grid-item.mail {
		top: 966px;
		left: 0;
	}

	.content-grid .grid-item {
		width: calc(100% - 22px);
	}
}

